In [1]:
import pandas as pd

In [2]:
chips = pd.read_csv('dataset/chips.tsv', delimiter = '\t')

In [3]:
chips.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [4]:
chips.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [5]:
'''
def convert(x):
    r=x.replace('$','').strip()
    r=float(r)
    return r
chips['item_price'] = chips.item_price.apply(convert)
'''
chips['item_price'] = chips.item_price.str.removeprefix('$').astype(float)    # changing data type of item_price column

In [6]:
chips.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [7]:
chips.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39

In [8]:
chips['total_price'] = chips.quantity*chips.item_price     # adding column for total_price

In [9]:
chips.head(2)

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39

In [13]:
chicken = chips[chips.item_name.str.contains('chicken', case = False)]
chicken.item_price.max()     # maximum price of chiken item only

35.0

In [16]:
new_chips = chips.dropna()   # delete rows having null value in any column
# or
new_chips =chips[chips.choice_description.notna()]   # df of not null rows by removing those

In [17]:
new_chips.shape

(3376, 6)

In [21]:
chips.choice_description = chips.choice_description.map(lambda x : str(x).lstrip('[').rstrip(']'))  # removing [] from start and end in choice_description column
chips

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,nan,2.39,2.39
1,1,1,Izze,Clementine,3.39,3.39
2,1,1,Nantucket Nectar,Apple,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,nan,2.39,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), [Black Beans,...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"Fresh Tomato Salsa, [Rice, Black Beans, Sour C...",11.75,11.75
4618,1833,1,Steak Burrito,"Fresh Tomato Salsa, [Rice, Sour Cream, Cheese,...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, [Fajita Vegetables, Pinto ...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, [Fajita Vegetables, Lettuce",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"Fresh Tomato Salsa, [Fajita Vegetables, Pinto ...",8.75,8.75